@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.not_found {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #2f2f2f;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-size: cover;
		mix-blend-mode: overlay;
	}
	
	.code {
		font-family: 'Alfa Slab One', cursive;
		font-size: 120px;
		height: auto;
		color: white;
		width: 100%;
		display: flex;
		background-position-x: center;
		background-position-y: center;
		align-items: center;
		background-size: cover;
		justify-content: center;
	}
	.texto {
		font-family: 'Alfa Slab One', cursive;
		font-size: 50px;
		height: auto;
		color: white;
		width: 100%;
		display: flex;
		text-align: center;
		background-position-x: center;
		background-position-y: center;
		align-items: center;
		background-size: cover;
		justify-content: center;
	}
	.volver {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: 'pointer'
	}
}